

/* ==== Body Style ==== */

img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; 
      }
.head-wrapper {
    display: inline-flex;
    width: 100%;
    }
.head-wrapper div {
    width: 30%;
    height: 100px;
    border: 2px solid red;
}
.head-wrapper img{
    max-width:100%; 
    max-height:100%;
    margin: start;
    display:block;
}
   /*   div {
        width: 100px;
        height: 100px;
        border: 2px solid green;
      }*/
      
     /* header div {
        border: 2px solid purple;
        display: inline-block;
      }*/
      span{
          background-color: lightcoral;
      }
      /* span is used to create a background for the text */
/*=== Header Style ===*/
.header-nav li{
    display: inline-block;
    margin-right: 10%;
    list-style: none;
}
.header-nav li a {
    text-decoration: none;
}

/*==== Footer Style ===*/
footer {
    background: lightblue
}
